In [13]:
import pandas as pd
df = pd.read_csv("TestData.csv") 
print(df.head())
X = df[['f1','f2']] 
y = df['target']

   f1          f2      f3        f4  f5        f6        f7        f8  \
0  31  238.933333   47296  0.238933  10  0.238933  0.238933  0.238933
1  24  238.933333   33088  0.238933   7  0.238933  0.238933  0.238933
2  18  238.933333  283342  0.238933   7  0.238933  0.238933  0.238933
3  19  238.933333  393712  0.238933   9  0.238933  0.238933  0.238933
4  28  238.933333  200515  0.238933  10  0.238933  0.238933  0.238933

          f9       f10  f11   f12  f13       f14  target
0  23.893333  0.238933    0  1740   20  0.238933       0
1  23.893333  0.238933    0     0   40  0.238933       0
2  23.893333  0.238933    0     0   20  0.238933       0
3  23.893333  0.238933    0     0   20  0.238933       0
4  23.893333  0.238933    0     0   40  0.238933       0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   f1      2500 non-null   int64
 1   f2      2500 non-null   float64
 2   f3      2500 non-null   int64
 3   f4      2500 non-null   float64
 4   f5      2500 non-null   int64
 5   f6      2500 non-null   float64
 6   f7      2500 non-null   float64
 7   f8      2500 non-null   float64
 8   f9      2500 non-null   float64
 9   f10     2500 non-null   float64
 10  f11     2500 non-null   int64
 11  f12     2500 non-null   int64
 12  f13     2500 non-null   int64
 13  f14     2500 non-null   float64
 14  target  2500 non-null   int64
dtypes: float64(8), int64(7)
memory usage: 293.1 KB

In [15]:
y.value_counts()

target
0    1913
1     587
Name: count, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
X_train

      f1          f2
158   25  238.933333
502   35  238.933333
1703  52  238.933333
2390  58  238.933333
201   37  238.933333
...   ..         ...
559   49  238.933333
1800  44  238.933333
999   19  238.933333
2003  25  238.933333
1141  19  238.933333

[1875 rows x 2 columns]

In [17]:
from sklearn.svm import SVC
model = SVC() 
model.fit(X_train, y_train)
pred_unb = model.predict(X_test)
from sklearn.metrics import classification_report 
print(classification_report(y_test, pred_unb))

              precision    recall  f1-score   support

           0       0.75      1.00      0.85       466
           1       0.00      0.00      0.00       159

    accuracy                           0.75       625
   macro avg       0.37      0.50      0.43       625
weighted avg       0.56      0.75      0.64       625

/Users/a.rukaff/Python/Python/.venv/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/a.rukaff/Python/Python/.venv/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Users/a.rukaff/Python/Python/.venv/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1565: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [18]:
model = SVC(class_weight='balanced') 
model.fit(X_train, y_train)
pred_b = model.predict(X_test) 
print(classification_report(y_test, pred_b))

              precision    recall  f1-score   support

           0       0.88      0.55      0.67       466
           1       0.37      0.77      0.50       159

    accuracy                           0.60       625
   macro avg       0.62      0.66      0.58       625
weighted avg       0.75      0.60      0.63       625