In [1]:
# Импортируем модуль Apache Spark - Spark SQL
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Создаем (инициализируем) SparkSession
spark = SparkSession.builder.appName("EmployeeSalaryComparison").getOrCreate()

#  Составляем data - лист из кортежей элементов таблицы
data = [(1, "Joe", 70, 3),
        (2, "Henry", 80, 4),
        (3, "Sam", 60, None),
        (4, "Max", 90, None)]

# Создаем DataFrame
df = spark.createDataFrame(data, ["Id", "name", "Salary", "managerId"])

# Выводим созданную таблицу
df.show()

+---+-----+------+---------+
| Id| name|Salary|managerId|
+---+-----+------+---------+
|  1|  Joe|    70|        3|
|  2|Henry|    80|        4|
|  3|  Sam|    60|     NULL|
|  4|  Max|    90|     NULL|
+---+-----+------+---------+

In [2]:
# Присоединение DataFrame к самому себе для сопоставления сотрудников с их менеджерами
joined_df = df.alias("emp").join(df.alias("mgr"), col("emp.managerId") == col("mgr.id"))

joined_df.show()

+---+-----+------+---------+---+----+------+---------+
| Id| name|Salary|managerId| Id|name|Salary|managerId|
+---+-----+------+---------+---+----+------+---------+
|  1|  Joe|    70|        3|  3| Sam|    60|     NULL|
|  2|Henry|    80|        4|  4| Max|    90|     NULL|
+---+-----+------+---------+---+----+------+---------+

In [3]:
# Фильтрация данных, чтобы выбрать сотрудников, которые зарабатывают больше своих менеджеров
result_df = joined_df.filter(col("emp.salary") > col("mgr.salary")).select(col("emp.name"))

result_df.show()

+----+
|name|
+----+
| Joe|
+----+